# ==========================================
# Ambiente virtual
# ==========================================

venv/
.env/

# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Streamlit cache
# ==========================================

.streamlit/

# ==========================================
# Arquivos temporários
# ==========================================

*.log
*.tmp

# ==========================================
# Sistema operacional
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Resultados gerados
# ==========================================

results/*.csv
results/*.png

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/